body {
    background-image: linear-gradient(to right, #f5f7fa, #b9c9e2);
}

.pageTitle{
    text-align: center;
    font-size: 26px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.personalStatementContainer {
    display: inline-block;
    vertical-align: top;
}

.personalPhoto {
    width: 10cm;
    height: 10cm;
    border-radius: 70%;
    float: left;
    margin: 10px;
}

.personalDetailsContainer {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
    display: inline;
}

.personalStatement {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-image: linear-gradient(to right, #bdcbe4,  #abc0e0);
    position: absolute;
    right: 0px;
    top: 0px;
    height: 150%;
    background-size: auto;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: rgb(4, 90, 4);
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: rgb(121, 118, 118);
    color: white;
}