body {
    background-image: linear-gradient(to right, #f5f7fa, #c3cfe2);
}

.pageTitle{
    text-align: center;
    font-size: 26px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.personalStatementContainer {
    display: inline-block;
    vertical-align: top;
}

.personalPhoto {
    width: 10cm;
    height: 10cm;
    border-radius: 70%;
    float: left;
    margin: 10px;
}

.personalDetailsContainer {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: serif;
    display: inline;
}

.personalStatement {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline;
}