html {
    scroll-behavior: smooth;
}

body {
    content: "";
    background-image: url(../images/electrician-1080573_1920.jpg);
    background-repeat: no-repeat;
    opacity: 0.95;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    z-index: -1;
}

.TitleAndLogoDivision {
    font-size: 24px;
    text-align: center;
    color: black;
}

.NavigationTableHomePage {
    color: black;
    text-align: center;
    border: 1px solid black;
    width: 100%;
    border-collapse: separate;
    padding:2px;
}

.NavigationTableHomePageTH {
    border: 1px solid black;
    border-collapse: separate;
    font-size: 24px;
}

.circle {
    height:300px;
    width:300px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 100px;
    transition:all 2s;
    -webkit-transition:all 2s;
    -moz-transition:all 2s;
}

.lightpurple {
    background-color:rgb(238, 168, 245);
}

.lightblue {
    background-color: lightsteelblue;
}

.lightgreen {
    background-color: lightgreen;
}

.belowPinkCircle {
    position: absolute;
    top: 450px;
    left: 100px;
}

.belowBlueCircle {
    position: absolute;
    top: 850px;
    left: 100px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.circle:hover {
    height:200px;
    width: 900px;
    border-radius: 0%;
}

p {

}


