body {
    text-align: center;
    font-family: 'Montserrat';
}

h1 {
    font-family: 'Ubuntu';
    font-weight: bold;
}

h3 {
    font-family: 'Ubuntu';
    margin-top: 50px;
}

/***************************************************************************************/

.dotted-horizontal-break {
    border-top: 6px dotted #bbbebe;
    width: 100px;
}

/***************************************************************************************/

#titleSection {
    background-color: rgb(197, 228, 238);
}

.navbar-brand {
    font-size: 2.0rem;
    font-family: 'Ubuntu';
    font-weight: bold;
}

.nav-item {
    padding-left: 10px;
    padding-right: 20px;
}

.title-container {
    /* Center the text in the division */
    text-align: center;

    /* Add space between this division and the navigation bar */
    margin-top: 100px;
}

.title-container-cloud-icon-1 {
    float: left;
    margin-left: 50px;
    height: 100px;
}

.title-container-cloud-icon-2 {
    float: right;
    margin-right: 50px;
    height: 100px;
}

/***************************************************************************************/

#companySection {
    background-color: rgb(247, 232, 232);
}

.company-section-icon {
    height: 200px;
    width: 200px;
}

/***************************************************************************************/

#teamSection {
    text-align: left;
}

.team-section-partner-one {
    float: left;
    border-radius: 60%;
    width: 300px;
    height: 300px;
}

.team-section-partner-two {
    float: left;
    border-radius: 60%;
    width: 300px;
    height: 300px;
}

.personal-description {
    font-family: 'Montserrat';
}

/***************************************************************************************/