body {
    text-align: center;
    font-family: 'Montserrat';
}

h1 {
    font-family: 'Ubuntu';
    font-weight: bold;
}

h3 {
    font-family: 'Ubuntu';
    margin-top: 50px;
}

/***************************************************************************************/

.dotted-horizontal-break {
    border-top: 6px dotted #bbbebe;
    width: 100px;
    margin: 5% auto;
}

/***************************************************************************************/

#titleSection {
    background-color: rgb(197, 228, 238);
}

.navbar-brand {
    font-size: 2.0rem;
    font-family: 'Ubuntu';
    font-weight: bold;
}

.nav-item {
    padding-left: 10px;
    padding-right: 20px;
}

.title-container {
    /* Center the text in the division */
    text-align: center;

    /* Add space between this division and the navigation bar */
    margin-top: 100px;
}

.title-container-cloud-icon-1 {
    float: left;
    margin-left: 50px;
    height: 100px;
}

.title-container-cloud-icon-2 {
    float: right;
    margin-right: 50px;
    height: 100px;
}

/***************************************************************************************/

#companySection {
    background-color: rgb(247, 232, 232);
}

.company-section-icon {
    height: 200px;
    width: 200px;
}

/***************************************************************************************/

#teamSection {
    text-align: left;
    text-align: justify;
    background-color: azure;
}

.team-section-header {
    padding-top: 3%;
    text-align: center;
}

.team-row {
    margin: 5% auto;    
}

.partner-image {
    padding-bottom: 3%; 
}

.profile-pic {
    width: 400px;
    height: 400px;
    border-radius: 5%;
}

.personal-description {
    font-family: 'Montserrat';
    font-size: 1.6rem;
}

/***************************************************************************************/

.contact-me-header {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
}

.contact-me-paragraph {
    font-family: 'Montserrat';
}

.row {
    background-color: white;
    height: 200px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 400;
    padding: 5% 10%;
}

.contact-div {
    background-color: white;
}