html {
    scroll-behavior: smooth;
}

body {
    content: "";
    background-image: url(../images/index_background_images/blaz-erzetic-rP30_20fDpw-unsplash.jpg);
    background-repeat: no-repeat;
    opacity: 0.95;
    top: 0px;
    background-size: cover;
    background-attachment: fixed;
}

.circle {
    height:300px;
    width:300px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: 50px;
    left: 100px;
    transition:all 2s;
    -webkit-transition:all 2s;
    -moz-transition:all 2s;
}

.belowPinkCircle {
    position: absolute;
    top: 450px;
    left: 100px;
}

.belowBlueCircle {
    position: absolute;
    top: 850px;
    left: 100px;
}

.EternalConstance {
    background-image: linear-gradient(to bottom,  #09203f, #537895);
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: white;
}

.circle:hover {
    display: inline-block;
    height: 200px;
    width: 900px;
    border-radius: 0%;
}

.description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
    color: white;
}

.description:hover {
    text-align: left;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-image: linear-gradient(to bottom, #09203f, #537895);
    position: absolute;
    right: 0px;
    top: 0px;
    height: 150%;
    background-size: auto;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: rgb(4, 90, 4);
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: rgb(121, 118, 118);
    color: white;
}

